{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Join Today</legend>
            <div class="form-group">
                {{ form.picture.label() }}
                {{ form.picture(class="form-control-file") }}
                {% if form.picture.errors %}
                    {% for error in form.picture.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}

            </div>


            <div class="form-group">
                {{ form.age.label(class="form-control-label") }}

            </div>

            <div class="form-group">
                {{ form.cell_phone.label(class="form-control-label") }}

            </div>

            <div class="form-group">
                {{ form.school.label(class="form-control-label") }}

            </div>
            
            {{ form.submit(class="btn btn-outline-info") }}
        </fieldset>
    </form>
</div>
{% endblock content %}